@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Tac+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Righteous";
    font-weight: 800;
}

#wrapper {
    display: flex;
    height: 75vh;
    min-height: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

#calcBody {
    width: 400px;
    border: 5px solid rgb(37, 7, 1);
    background-color: #eae1d6;
    border-radius: 10px;
    padding: 20px;
}

.wholeScreen {
    width: 350px;
    border: 5px solid black;
    background: #333333;
    color: #eae1d6;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);

}

.upperScreen {
    min-height: 32px;
    font-size: 25px;
}

.lowerScreen {
    min-height: 64px;
    font-size: 45px;
}

#buttonSet {
    width: 350px;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.button {
    flex: 1 1 auto;
    height: 70px;
    width: 70px;
    border-radius: 3vh;
    background-color: rgb(247, 156, 111);
    color: #633801;
    font-size: x-large;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(249, 104, 51);
    box-shadow: 4px 4px 5px rgb(212, 211, 211);
    font-size: xx-large;
    transition: 0.3s;
}

.button:active {
    background-color: rgb(251, 74, 10);
    font-size: x-large;
    transition: 0.1s;
}

.equal, .AC {
    flex: 2 1 auto;
    width: 140px;
}